Pow
{{ 2**3 }}
{{ array|length**3**2 }}
{{ array|length**(3**2) }}
{{ (array|length**3)**2 }}
{{ 3**array|length**2 }}
{{ (3**array|length)**2 }}
{{ 3**(array|length**2) }}

Mul/Div/Mod
{{ 5//2 }}
{{ 5*2 }}
{{ 5//2*3 }}
{{ 5*2//3 }}
{{ 5%2 }}
{{ 5%2*3 }}
{{ 5*2%3 }}

Add/Sub
{{ 5+2 }}
{{ 5-2 }}
{{ 5+2-3 }}
{{ 5-2+3 }}
