1 == 1: {{ 1 == 1 }}
1 == 2: {{ 1 == 2 }}
value == value: {{ value == value }}
value == 1: {{ value == 1 }}
(1 == 1) == (1 == 1): {{ (1 == 1) == (1 == 1) }}
(value == value) == (1 == 1): {{ (value == value) == (1 == 1) }}

1 != 1: {{ 1 != 1 }}
1 != 2: {{ 1 != 2 }}
value != value: {{ value != value }}
value != 1: {{ value != 1 }}
(1 != 1) != (1 != 1): {{ (1 != 1) != (1 != 1) }}
(value != value) != (1 != 1): {{ (value != value) != (1 != 1) }}

1 > 1: {{ 1 > 1 }}
1 > 2: {{ 1 > 2 }}
1 >= 1: {{ 1 >= 1 }}
1 >= 2: {{ 1 >= 2 }}
1 < 1: {{ 1 < 1 }}
1 < 2: {{ 1 < 2 }}
1 <= 1: {{ 1 <= 1 }}
1 <= 2: {{ 1 <= 2 }}
