{{ true and true }}
{{ true and false }}
{{ false and true }}
{{ false and false }}
{{ true and 1 == 1 }}

{{ true or true }}
{{ true or false }}
{{ false or true }}
{{ false or false }}
{{ true or 1 == 1 }}

{{ true or true and true }}
{{ true or true and false }}
{{ true or false and true }}
{{ true or false and false }}
{{ false or true and true }}
{{ false or true and false }}
{{ false or false and true }}
{{ false or false and false }}

{{ true and true or true }}
{{ true and true or false }}
{{ true and false or true }}
{{ true and false or false }}
{{ false and true or true }}
{{ false and true or false }}
{{ false and false or true }}
{{ false and false or false }}
