{% for i in range(3) %}
{{ i }}
{% endfor %}

{% for i in range(1,3) %}
{{ i }}
{% endfor %}

{% for i in range(1,5,2) %}
{{ i }}
{% endfor %}

{% for i in range(value + 2) %}
{{ i }}
{% endfor %}

{% for a in array %}
{% for i in range(a) %}
{{ i }}
{% endfor %}
{% endfor %}
